*, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: 600;
}

body {
  background: linear-gradient(to right, #00AAFF, #00FF6C);
}

.container {
  margin:auto;
  width:auto;
  text-align: center;
}

.mastermind {
  font-size: 3em;
  font-weight: 600;
  margin-bottom: 20px;
}

#display {
  margin:auto;
  width:100px;
  height:20px;
  font-weight: 500;
  padding: 3px;
  border:none;
  border-radius: 3px;
  outline:none;
  background-color: rgba(255, 255, 255, 0.5);
  display:inline-block;
}

.guess-cont {
  margin-bottom: 2rem;
}

.prompt {
  margin: 0;
  display: inline-block;
}

.input-cont {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: minmax(60px, auto) repeat(2, 60px);
}

.input-cont button {
  cursor: pointer;
  font-size: 1rem;
  /* border: 1px solid white; */
  outline: none;
  background-color: rgba(255, 255, 255, .5);
}

button {
  padding: 3px 5px;
  border:none;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.2);
}

button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
}

.display-cont {
  margin-bottom: 2em;
}

.table {
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  width:100%;
}

td, th {
  text-align: center;
  width: 33%;
}

.table-title {
  font-size: 2em;
}

select {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}